In [1]:
import pandas as pd

In [27]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [23]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [16]:
# dummies = pd.get_dummies(df.Sex)
# inputs = pd.concat([df, dummies], axis='columns')
# inputs.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [29]:
df.Sex = df.Sex.apply(lambda x : 1 if x=='male' else 0)
df.head(3)

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250

In [35]:
# checking if any column contains NaN
df.columns[df.isna().any()]
# above statement returns list of column names

Index(['Age'], dtype='object')

In [36]:
df.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [37]:
df.Age = df.Age.fillna(df.Age.mean())
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

In [38]:
df.columns[df.isna().any()]

Index([], dtype='object')

In [40]:
inputs = df.drop('Survived', axis='columns')
target = df.Survived

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [42]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [43]:
model.fit(X_train,y_train)

GaussianNB()

In [44]:
model.score(X_test,y_test)

0.7835820895522388

In [45]:
X_test[0:10]

     Pclass  Sex   Age      Fare
873       3    1  47.0    9.0000
565       3    1  24.0   24.1500
395       3    1  22.0    7.7958
866       2    0  27.0   13.8583
397       2    1  46.0   26.0000
467       1    1  56.0   26.5500
822       1    1  38.0    0.0000
537       1    0  30.0  106.4250
391       3    1  21.0    7.7958
259       2    0  50.0   26.0000

In [46]:
model.predict(X_test[0:10])

array([0, 0, 0, 1, 0, 0, 0, 1, 0, 1], dtype=int64)

In [48]:
model.predict_proba(X_test[:10])
# here inside array[] first value indicates % of 0 and second value indicates % of 1 over survival

array([[0.95738481, 0.04261519],
       [0.94609957, 0.05390043],
       [0.94631833, 0.05368167],
       [0.13173567, 0.86826433],
       [0.91082313, 0.08917687],
       [0.7334574 , 0.2665426 ],
       [0.76511014, 0.23488986],
       [0.00455841, 0.99544159],
       [0.94495369, 0.05504631],
       [0.13627786, 0.86372214]])

In [52]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), X_train, y_train, cv=5)
# above cv=5 represents the no. of folds of data to be taken from the dataset

array([0.704     , 0.816     , 0.776     , 0.82258065, 0.75      ])