In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('home_prices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
median_value = df['bedrooms'].median()
df['bedrooms'] = df['bedrooms'].fillna(median_value)

In [4]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
mvmodel = linear_model.LinearRegression()
dependent_variable_price = df.price
independent_variable = df.drop('price', axis='columns')  # drop(column_name, column_wise or row_wise)
mvmodel.fit(independent_variable, dependent_variable_price)

LinearRegression()

In [7]:
mvmodel.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [8]:
mvmodel.intercept_

221323.00186540437

In [10]:
#Find price of home with 3000 sqr ft area, 3 bedrooms, 40 year old

mvmodel.predict([[3000, 3, 40]]) # predict() method accepts dataframe as argument & it can be given as [[]]

C:\Users\santh\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])

In [13]:
# y = m1x+m2y+m3z+b
# m - coef
# x - area
# y = bedrooms
# z = age of home
112.06244194*3000 + 23388.88007794*3 + -3231.71790863*40 + 221323.00186540384

498408.25157402386