In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv('candidate_details_for_hr.csv')
df

  experience  test_score  interview_score  salary($)
0        NaN         8.0                9      50000
1        NaN         8.0                6      45000
2       five         6.0                7      60000
3        two        10.0               10      65000
4      seven         9.0                6      70000
5      three         7.0               10      62000
6        ten         NaN                7      72000
7     eleven         7.0                8      80000

In [36]:
df.test_score = df.test_score.fillna(df.test_score.median())

In [37]:
df

  experience  test_score  interview_score  salary($)
0        NaN         8.0                9      50000
1        NaN         8.0                6      45000
2       five         6.0                7      60000
3        two        10.0               10      65000
4      seven         9.0                6      70000
5      three         7.0               10      62000
6        ten         8.0                7      72000
7     eleven         7.0                8      80000

In [38]:
# experience = {'expe'}
ex_df = pd.DataFrame([0,0,5,2,7,3,10,11])

In [34]:
ex_df

    0
0   0
1   0
2   5
3   2
4   7
5   3
6  10
7  11

In [39]:
df['experience'] = ex_df

In [40]:
df

   experience  test_score  interview_score  salary($)
0           0         8.0                9      50000
1           0         8.0                6      45000
2           5         6.0                7      60000
3           2        10.0               10      65000
4           7         9.0                6      70000
5           3         7.0               10      62000
6          10         8.0                7      72000
7          11         7.0                8      80000

In [43]:
mvmodel = linear_model.LinearRegression()
mvmodel.fit(df[['experience', 'test_score', 'interview_score']],df['salary($)']) # is as same as fit(df.drop('salary', axis='columns'), df['salary($)'])

LinearRegression()

In [45]:
import pickle

In [46]:
with open('SalaryPredictionModel', 'wb') as f:
    pickle.dump(mvmodel, f)

In [47]:
with open('SalaryPredictionModel', 'rb') as f:
    mv_model = pickle.load(f)

In [52]:
mv_model.predict([[2, 9, 6]])

C:\Users\santh\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [51]:
mv_model.predict([[12, 10, 10]])

C:\Users\santh\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])

In [1]:
from sklearn.externals import joblib

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\santh\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\externals\__init__.py)

In [ ]:
joblib.dump(mv_model, 'file_name')

In [ ]:
md = joblib.load('file_name')
md.predict([[13, 8, 3]])